
body
{ font-family: 'trebuchet ms', arial, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: .90em;
  background: #E9E4C7 url(../images/pattern.png);
  color: #555;
}

#header, #logo, #menu2, #panel, #contenido, #footer
{ margin-left: auto; 
  margin-right: auto;
}

#header
{ height: 152px;
background: url(../images/back3.png) repeat-x;
}

#logo
{ width: 870px;
position: relative;
height: 107px;
}
#logo h1
{ font: normal 300% "century gothic", arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  letter-spacing: 0.1em;
  padding: 12px 0 0 26px;
  color: #FFF;
  margin: 0;
}
#logo h1 span
{
    color: #A2AB3B
}

#logo a
{
    text-decoration: none;
}

.contenido
{ 
  margin-top: 1%;
  margin-left: auto; 
  margin-right: auto;
  width: 60%;
  overflow: hidden;
  background: #FFF repeat-y;
  padding-top: 10px;
} 
#informacion
{ text-align: justify;
  padding: 20px 10px 15px 26px;
}
#apple{
  display: block;
  padding: 3px;
  height: auto;
  width: 280px;
  margin: auto;
}
.calculadora{
    display: block;
    margin: auto;
    width: 50%;
}
table{
    border: 1px solid #A2AB3B;
    margin: auto;
    
}
th{
    padding: 10px;
    background-color: #A2AB3B;
    color: white;
    text-align: center;
}
td{
    padding: 15px;
    font-weight: bold;
    color: #A2AB3B;
}
#alertas{
    position: absolute;
    visibility: hidden;
    border-radius: 10px;
    padding: 5px;
    color: red;
    margin: auto;
    width: 45%;
    background-color: rgba(233, 151, 151, 0.5);
}
#alertas span{
    font-weight: bold;
}